

body, html {
 height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("file:///C:/Users/mirah/Downloads/Kjolar1.webp"); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.hero-text {
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Oranienbaum', serif;
  font
}

head {
    top: 100px;
}

#Grey {
    background-color: #d4c8c6;
    background-size: 200%;
    text-align: left;
    font-size: 30px;
    height: 200%;
}

div.Mirasfooter {
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    margin: 0 auto;
}

.Home:active {
    background-color: slateblue;
}

#Vit {
    background-color: white;
}


.footerimage:hover {
        opacity: 0.5;
        filter: alpha(opacity=40);
}

#Top {
    display: inline-block;
    color: black;
    background-color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
}

Mirasfooter {
    align-items: right;
    align-content: right;
    text-align: right;
}

.Top:hover {
    background-color: darkgray;
}

a.Top {
    border-radius: 15px;
    display: inline-block;
    color: black;
    background-color: rgb(177, 168, 168);
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 24px;
    font-family:'Oranienbaum', serif;
}

#Copyright {
    text-align: center;
}

.footer {
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    vertical-align: bottom;
    align-content: center;
    font-family: monospace;
}

body {
    font-family: 'Oranienbaum', serif;
    display: block;
}

.Familj {
    color: white;
    background-color: black;
}

h1.Familj {
    padding: 0px;
    margin: 0px;
}


nav {
  border: 3px solid white;
  outline-width: thick;
  outline-color: white;
  display: flex;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed; 
  justify-content: flex-start;
  top: 8px;
}

nav a {
    outline-width: thick;
    outline-color: darkgrey;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    background-color: darkgrey;
}


h3 {
    font-size: 40px;
}

#h2 {
    font-size: 50px;
    left: 50%;
    text-align: center;
}

td.tabell { 
    width: 50%;
 }

 #shopimages {
    
 }
 