/* Hjälp med "back to the top" knapp, centrera videon, Svart "outline" med ingeniting i mellan rosa och blåa, navigationbar blå där man är. Rgba (0, 0, 0, 0,)=transparent */

head {
    top: 100px;
}

div {
    background-color: #FFCEC9;
}

div.Video{
    background-color: #88D3EA;
    text-align:center;
    width:100%;
}

#Vit {
    background-color: white;
}

#Title {
    padding-top: 60px;
}

#Picture1 {
    display: block;
    display: flex;
    padding-top: 60px;
    align-content: right;
    background-color: black;
    padding-left: 30px;
}

#Picture2 {
    display: block;
    display: flex;
    padding-top: 60px;
    align-content: right;
    background-color: black;
    padding-left: 30px;  
}

#Picture3 {
    display: block;
    display: flex;
    padding-top: 60px;
    align-content: right;
    background-color: black;
    padding-left: 30px;
}

Pictures {
    padding-top: 50px;
    background-color: black;
}

footer,hover {
    opacity: 0,7;
}

#Top {
    
}

a Top {
    text-decoration: none;

}

#Color2 {
    background-color: #88D3EA;
}

Video {
    align-content: right;
    text-align: center;
}

#Copyright {
    text-align: center;
}

.footer {
    color: white;
    background-color: black;
    vertical-align: bottom;
    align-content: left;
    font-family: monospace;
}

body {
    font-family: 'Oranienbaum', serif;
    display: block;
}

nav {
  overflow: hidden;
  background-color: black;
  position: fixed; 
  top: 5px 
   
  

}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    background-color: darkgrey;
}

